{% extends "base.html" %}

{% block title %}Account{% endblock %}

{% block content %}
<h1>Account Manager</h1>
<p>Name: {{ current_user.name }}</p>
<p>Email: {{ current_user.email }}</p>
<p>Shipping Address: {{ current_user.shipping_address }}</p>
<a class="btn btn-outline-success" href="/my_orders" role="button">View My Orders</a>
<a class="btn btn-outline-warning" href="/change_information/{{ current_user.id }}" role="button">Change Account Information</a>
<a class="btn btn-outline-danger" href="/logout" role="button">Logout</a>

{% endblock %}